.news-card {
  display: flex;
  position: relative;
}

.news-card__link {
  border-radius: 16px;
  text-decoration: none;
  background-color: #fff;
  font-size: 0;
}

.news-card__image {
  border-radius: 16px 16px 0 0;
  width: 100%;
  height: 218px;
  object-fit: cover;
}

.news-card__container {
  padding: 20px 24px 24px 24px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 304px;
}

.news-card__date {
  margin-top: 0;
  margin-bottom: 12px;
  font-family: 'Source Sans Pro', Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.125rem;
  line-height: 1.5rem;
  color: #b6bcbf;
}

.news-card__text-wrapper {
  display: -webkit-box;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.news-card__title {
  margin-top: 0;
  margin-bottom: 16px;
  font-family: 'Roboto Slab', Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.625rem;
  line-height: 1.875rem;
  color: #1a1b22;
}

.news-card__description {
  margin-top: 0;
  margin-bottom: 0;
  font-family: 'Roboto', Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.375rem;
  color: #1a1b22;
}

.news-card__source {
  margin-top: auto;
  margin-bottom: 0;
  font-family: 'Roboto Slab', Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 1rem;
  line-height: 1.25rem;
  letter-spacing: 0.025rem;
  text-transform: uppercase;
  color: #b6bcbf;
}

.news-card__save-button {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 24px;
  right: 24px;
  border: none;
  border-radius: 8px;
  background-color: #fff;
  background-image: url('../../images/save-button.svg');
  background-position: center;
  background-repeat: no-repeat;
}

.news-card__save-button:hover {
  cursor: pointer;
  background-image: url('../../images/save-button-hover.svg');
}

.news-card__save-button_not-logged:hover::before {
  content: 'Войдите, чтобы сохранять статьи';
  padding-left: 5px;
  padding-right: 5px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 182px;
  height: 40px;
  background-color: #fff;
  box-shadow: 0px 10px 22px rgba(59, 74, 116, 0.1);
  border-radius: 10px;
  position: absolute;
  top: 0;
  right: 45px;
  font-family: 'Roboto', Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 0.625rem;
  line-height: 0.75rem;
  color: #000;
}

.news-card__save-button_saved {
  background-image: url('../../images/save-button-saved.svg');
}

.news-card__delete-button {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 24px;
  right: 24px;
  border: none;
  border-radius: 8px;
  background-color: #fff;
  background-image: url('../../images/delete-button.svg');
  background-position: center;
  background-repeat: no-repeat;
}

.news-card__delete-button:hover {
  cursor: pointer;
  background-image: url('../../images/delete-button-hover.svg');
}

.news-card__delete-button:hover::before {
  content: 'Убрать из сохранённых';
  padding-left: 5px;
  padding-right: 5px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 159px;
  height: 40px;
  background-color: #fff;
  box-shadow: 0px 10px 22px rgba(59, 74, 116, 0.1);
  border-radius: 10px;
  position: absolute;
  top: 0;
  right: 45px;
  font-family: 'Roboto', Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 0.875rem;
  color: #000;
  z-index: 1;
}

.news-card__keyword {
  position: absolute;
  top: 24px;
  left: 24px;
  background-color: #fff;
  margin: 0;
  min-width: 72px;
  height: 40px;
  padding: 8px 12px;
  box-sizing: border-box;
  border-radius: 10px;
  font-family: 'Roboto', Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.5rem;
  text-align: center;
}

@media screen and (max-width: 1279px) {
  .news-card__container {
    padding: 16px;
  }
}

@media screen and (max-width: 1023px) {
  .news-card__container {
    height: 270px;
  }

  .news-card__title {
    margin-bottom: 10px;
    font-size: 1.375rem;
    line-height: 1.5rem;
  }

  .news-card__save-button {
    top: 8px;
    right: 8px;
  }

  .news-card__delete-button {
    top: 8px;
    right: 8px;
  }

  .news-card__keyword {
    top: 8px;
    left: 8px;
  }
}

@media screen and (max-width: 424px) {
  .news-card__container {
    height: 250px;
  }

  .news-card__date {
    margin-bottom: 10px;
  }

  .news-card__text-wrapper {
    -webkit-line-clamp: 6;
  }

  .news-card__title {
    line-height: 1.625rem;
  }

  .news-card__save-button {
    top: 16px;
    right: 16px;
  }

  .news-card__delete-button {
    top: 16px;
    right: 16px;
  }

  .news-card__keyword {
    top: 16px;
    left: 16px;
  }
}
